@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Museo500";
    src: url("../fonts/museo-500.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Museo300";
    src: url("../fonts/Museo300-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SUSERegular";
    src: url("../fonts/SUSE-Regular.ttf");
    font-weight: bold;
    font-style: normal;
}

@layer base {
    body {
        @apply max-h-[400px] overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-[#bada55] dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
    }
}

@layer components {
    .font-family-karla {
        font-family: karla;
    }
    
    body {
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}

@layer utilities {
    
        .showon {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        }

        .showon.visible {
            opacity: 1;
            transform: translateY(0);
        }


        .spacer {
            height: 500px; /* Espace pour permettre le défilement */
        }
}